
;File name             ;Location of File                    ;Comment

tsvy_news              /usr/local/tsvy/                     ;News about TimSurvey
e                      /usr/local/bin/                      ;RAND Editor
vi                     /bin/                                ;VI Editor
nedit                  /usr/bin/X11/                        ;NEDIT X-Window Editor
emacs                  /usr/local/bin/                      ;EMACS Editor
video                  /usr/local/bin/                      ;Displays telegrams
List                   /tmp/                                ;List of PTIMS
GetStatus              /tmp/                                ;Status of modules
GetDynamic             /tmp/                                ;PTIM AQNs
GetStatic              /tmp/                                ;PTIM CCVs
Strings                /tmp/                                ;Strings
