
;File name             ;Location of File                    ;Comment

libctr_news            /usr/local/tim/                      ;News about libctr
e                      /usr/local/bin/                      ;RAND Editor
vi                     /bin/                                ;VI Editor
nedit                  /usr/bin/X11/                        ;NEDIT X-Window Editor
emacs                  /usr/local/bin/                      ;EMACS Editor
ctrptest               /usr/local/bin/                      ;PMC/PCI CTR test program
ctrvtest               /usr/local/bin/                      ;VME CTR test program
ltim.obnames           /tmp/                                ;PTIM ob-names
