
;File name             ;Location of File                    ;Comment

tim_news               /usr/local/tim/                      ;News about CTR driver, hardware and stuff
e                      /usr/local/bin/                      ;RAND Editor
vi                     /bin/                                ;VI Editor
nedit                  /usr/bin/X11/                        ;NEDIT X-Window Editor
emacs                  /usr/local/bin/                      ;EMACS Editor
video                  /usr/local/bin/                      ;Displays telegrams
reload_sl_tg8          /usr/local/tim/                      ;Reload SL tg8 with new firmware
ctrtest                /usr/local/bin/                      ;PMC/PCI CTR test program
ctrvtest               /usr/local/bin/                      ;VME CTR test program
tg8test                /usr/local/bin/                      ;PS TG8 test program
tg8test-sl             /usr/local/bin/                      ;SL TG8 test program
tg8sl.exe              /usr/local/tim/                      ;SL TG8 firmware
ltim.obnames           /tmp/                                ;PTIM ob-names
TimLookat              /usr/local/bin/                      ;Look at a timing
TimClock               /usr/local/bin/                      ;Show timing clock
