
;File name             ;Location of File             ;Comment

acdx_news              /usr/local/drivers/acdx/test/ ;News about ACDX software/hardware
e                      /usr/local/bin/               ;RAND Editor
vi                     /bin/                         ;VI Editor
nedit                  /usr/bin/X11/                 ;NEDIT X-Window Editor
emacs                  /usr/local/bin/               ;EMACS Editor
gnuplot                /usr/bin/                     ;X11 Plot program
AcdxStats              /tmp/                         ;Acquisition calculated stats
AcdxFunc               /tmp/                         ;Sinwave function
Acdx.bit               /usr/local/drivers/acdx/test/ ;User FPGA configuration Bit stream
AcdxAqn                /tmp/                         ;Signal acquisition file
AcdxPlotAqn            /tmp/                         ;Plot acquisition
AcdxPlotFun            /tmp/                         ;Plot sin function
AcdxConfig             /usr/local/drivers/acdx/test/ ;Play configuration
AcdxInflPts            /tmp/                         ;Inflection points
AcdxMacro              /usr/local/drivers/acdx/test/ ;Macros file
AcdxLowPass            /usr/local/drivers/acdx/test/ ;Low pass filter coeficients
AcdxFreqGain           /usr/local/drivers/acdx/test/ ;Frequency gain skin effect factor
